
<%- include('../partials/header') %>

  <a href="/fruits">Back to the Fruits</a>

  <h1>Piece of <%= fruitDoc.name %></h1>
  <div>
    <h3><%= fruitDoc.name %></h3>
    <% if (fruitDoc.isReadyToEat) { %>
     <p>This fruit is ready to eat</p>
    <% } else  { %>
      <p>This fruit is not ready to eat!  I said don't eat it!!!!!</p>
     <% } %>
  </div>

  <form action="/fruits/<%= fruitDoc._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Fruit</button>
  </form>
  <a href="/fruits/<%= fruitDoc._id %>/edit">Edit <%= fruitDoc.name %></a>

  <%- include('../partials/footer') %>
